{% extends 'case_officer/case_officer_dashboard_base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}

{% block styles %}


{% endblock %}


{% block content %}

<div class="main-content">

<div class="page-content">
<div class="container-fluid">

<div class="row">
<div class="col-xl-4">
<div class="card overflow-hidden">
<div class="bg-primary-subtle">
<div class="row">
<div class="col-7">
<div class="text-primary p-3">
<h5 class="text-primary">Welcome Back !</h5>
<p>Case Management Dashboard</p>
</div>
</div>
<div class="col-5 align-self-end">
<img src="{% static 'admin_assets/images/profile-img.png' %}" alt="" class="img-fluid">
</div>
</div>
</div>
<div class="card-body pt-0">
<div class="row">
<div class="col-sm-4">
<div class="avatar-md profile-user-wid mb-4">
<img src="{% static 'admin_assets/images/users/avatar-1.jpg' %}" alt="" class="img-thumbnail rounded-circle">
</div>
<h5 class="font-size-15 text-truncate">{{user.get_full_name}}</h5>
<p class="text-muted mb-0 text-truncate">Visa Officer</p>
</div>

<div class="col-sm-8">
<div class="pt-4">

<div class="row">
<div class="col-6">
<h5 class="font-size-15">{{ assigned_count }}</h5>
<p class="text-muted mb-0">Assigned</p>
</div>
<div class="col-6">
<h5 class="font-size-15">{{ initiated_count }}</h5>
<p class="text-muted mb-0">Initiated</p>
</div>
</div>
<div class="mt-4">
<a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i class="mdi mdi-arrow-right ms-1"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="card">
<div class="card-body">
<h4 class="card-title mb-4">Monthly Output</h4>
<div class="row">
<div class="col-sm-6">
<p class="text-muted">This month</p>
<h3 id="monthly-output-count">-</h3>
<p class="text-muted"><span id="monthly-output-trend" class="text-muted me-2"> - </span> From previous period</p>

<div class="mt-4">
<a href="{% url 'CaseManagement:applications-list' %}" class="btn btn-primary waves-effect waves-light btn-sm">View More <i class="mdi mdi-arrow-right ms-1"></i></a>
</div>
</div>
<div class="col-sm-6">
<div class="mt-4 mt-sm-0">
<div id="officer-monthly-radial-chart" data-colors='["--bs-primary"]' class="apex-charts"></div>
</div>
</div>
</div>
<p class="text-muted mb-0">Total Applications Processed for the month.</p>
</div>
</div>
</div>
<div class="col-xl-8">
<div class="row">



<div class="col-md-3">
<div class="card mini-stats-wid">
<div class="card-body">
<div class="d-flex">
<div class="flex-grow-1">
<p class="text-muted fw-medium">Workload</p>
<h4 class="mb-0">{{ workload }}</h4>
</div>
<div class="flex-shrink-0 align-self-center">
<div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
<span class="avatar-title">
<i class="bx bx-copy-alt font-size-24"></i>
</span>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="col-md-3">
<div class="card mini-stats-wid">
<div class="card-body">
<div class="d-flex">
<div class="flex-grow-1">
<p class="text-muted fw-medium">Under Admin Review</p>
<h4 class="mb-0">{{ admin_review_count }}</h4>
</div>
<div class="flex-shrink-0 align-self-center">
<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
<span class="avatar-title rounded-circle bg-primary">
<i class="bx bx-archive-in font-size-24"></i>
</span>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card mini-stats-wid">
<div class="card-body">
<div class="d-flex">
<div class="flex-grow-1">
<p class="text-muted fw-medium">Awaiting Decision</p>
<h4 class="mb-0">{{ awaiting_decision_count }}</h4>
</div>
<div class="flex-shrink-0 align-self-center">
<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
<span class="avatar-title rounded-circle bg-primary">
<i class="bx bxs-hourglass font-size-24"></i>
</span>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card mini-stats-wid">
<div class="card-body">
<div class="d-flex">
<div class="flex-grow-1">
<p class="text-muted fw-medium">Complete</p>
<h4 class="mb-0">{{ complete_count }}</h4>
</div>
<div class="flex-shrink-0 align-self-center">
<div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
<span class="avatar-title rounded-circle bg-primary">
<i class="bx bx-analyse font-size-24"></i>
</span>
</div>
</div>
</div>
</div>
</div>
</div>




</div>
<!-- end row -->

<div class="card">
<div class="card-body">
<div class="d-sm-flex flex-wrap">
<h4 class="card-title mb-4">Visa Applications</h4>
<div class="ms-auto">
<ul class="nav nav-pills" id="visa-applications-range-pills">
<li class="nav-item">
<a class="nav-link" href="javascript: void(0);" data-range="week">Week</a>
</li>
<li class="nav-item">
<a class="nav-link" href="javascript: void(0);" data-range="month">Month</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="javascript: void(0);" data-range="year">Year</a>
</li>
</ul>
</div>
</div>

<div id="officer-visa-applications-chart" data-colors='["--bs-primary", "--bs-warning", "--bs-success"]' class="apex-charts" dir="ltr"></div>
</div>
</div>
</div>
</div>
<!-- end row -->

<div class="row">
<div class="col-xl-4">
<div class="card">
<div class="card-body">
<h4 class="card-title mb-4">Social Source</h4>
<div class="text-center">
<div class="avatar-sm mx-auto mb-4">
<span class="avatar-title rounded-circle bg-primary-subtle font-size-24">
<i class="mdi mdi-facebook text-primary"></i>
</span>
</div>
<p class="font-16 text-muted mb-2"></p>
<h5><a href="javascript: void(0);" class="text-dark">Instagram - <span class="text-muted font-16">125 mentions</span> </a></h5>
<p class="text-muted">Total leads generated from online sources</p>
<a href="javascript: void(0);" class="text-primary font-16">Learn more <i class="mdi mdi-chevron-right"></i></a>
</div>
<div class="row mt-4">
<div class="col-4">
<div class="social-source text-center mt-3">
<div class="avatar-xs mx-auto mb-3">
<span class="avatar-title rounded-circle bg-primary font-size-16">
<i class="mdi mdi-facebook text-white"></i>
</span>
</div>
<h5 class="font-size-15">Facebook</h5>
<p class="text-muted mb-0">125 mentions</p>
</div>
</div>
<div class="col-4">
<div class="social-source text-center mt-3">
<div class="avatar-xs mx-auto mb-3">
<span class="avatar-title rounded-circle bg-info font-size-16">
<i class="mdi mdi-twitter text-white"></i>
</span>
</div>
<h5 class="font-size-15">Twitter</h5>
<p class="text-muted mb-0">112 mentions</p>
</div>
</div>
<div class="col-4">
<div class="social-source text-center mt-3">
<div class="avatar-xs mx-auto mb-3">
<span class="avatar-title rounded-circle bg-pink font-size-16">
<i class="mdi mdi-instagram text-white"></i>
</span>
</div>
<h5 class="font-size-15">Instagram</h5>
<p class="text-muted mb-0">104 mentions</p>
</div>
</div>
</div>

</div>
</div>
</div>
<div class="col-xl-4">
<div class="card">
<div class="card-body">
<h4 class="card-title mb-5">Activity</h4>
<ul class="verti-timeline list-unstyled" id="activity-list">
<li class="text-muted">Loading recent activity&hellip;</li>
</ul>
<div class="text-center mt-4"><a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light btn-sm">View More <i class="mdi mdi-arrow-right ms-1"></i></a></div>
</div>
</div>
</div>

<div class="col-xl-4">
<div class="card">
<div class="card-body">
<h4 class="card-title mb-4">Trending visa locations</h4>

<div class="text-center">
<div class="mb-4">
<i class="bx bx-map-pin text-primary display-4"></i>
</div>
<h3 id="trending-top-count">-</h3>
<p id="trending-top-country">-</p>
</div>

<div class="table-responsive mt-4">
<table class="table align-middle table-nowrap">
<tbody id="trending-locations-body">
<tr><td class="text-muted">Loading&hellip;</td></tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<!-- end row -->

<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-body">




<h4 class="card-title mb-4 text-info">Latest Applications</h4>
<div class="table-responsive">
<table id="datatable" class="table table-bordered dt-responsive">
<thead class="table-light">
<tr>
<!-- th style="width: 20px;">
<div class="form-check font-size-16 align-middle">
<input class="form-check-input" type="checkbox" id="transactionCheck01">
<label class="form-check-label" for="transactionCheck01"></label>
</div>
</th> -->
<th class="align-middle">Reference No:</th>
<th class="align-middle">Client</th>
<th class="align-middle">Email</th>
<th class="align-middle">Country</th>
<th class="align-middle">Visa Type</th>
<th class="align-middle">Status</th>
<th class="align-middle">Date</th>
<th class="align-middle">View Details</th>
</tr>
</thead>

<tbody id="datatable-tbody">
  <tr>
    <td colspan="8" class="text-center text-muted">Loading applications...</td>
  </tr>
</tbody>

</table>
</div>
<!-- end table-responsive -->
</div>
</div>
</div>
</div>
<!-- end row -->

</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<!-- Modal -->
<!-- <div class="modal fade transaction-detailModal" tabindex="-1" role="dialog" aria-labelledby="transaction-detailModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="transaction-detailModalLabel">Order Details</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<p class="mb-2">Product id: <span class="text-primary">#SK2540</span></p>
<p class="mb-4">Billing Name: <span class="text-primary">Neal Matthews</span></p>

<div class="table-responsive">
<table class="table align-middle table-nowrap">
<thead>
<tr>
<th scope="col">Product</th>
<th scope="col">Product Name</th>
<th scope="col">Price</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">
<div>
<img src="{% static 'admin_assets/images/product/img-7.png' %}" alt="" class="avatar-sm">
</div>
</th>
<td>
<div>
<h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5>
<p class="text-muted mb-0">$ 225 x 1</p>
</div>
</td>
<td>$ 255</td>
</tr>
<tr>
<th scope="row">
<div>
<img src="{% static 'admin_assets/images/product/img-4.png' %}" alt="" class="avatar-sm">
</div>
</th>
<td>
<div>
<h5 class="text-truncate font-size-14">Phone patterned cases</h5>
<p class="text-muted mb-0">$ 145 x 1</p>
</div>
</td>
<td>$ 145</td>
</tr>
<tr>
<td colspan="2">
<h6 class="m-0 text-right">Sub Total:</h6>
</td>
<td>
$ 400
</td>
</tr>
<tr>
<td colspan="2">
<h6 class="m-0 text-right">Shipping:</h6>
</td>
<td>
Free
</td>
</tr>
<tr>
<td colspan="2">
<h6 class="m-0 text-right">Total:</h6>
</td>
<td>
$ 400
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
</div>
</div>
</div> -->
<!-- end modal -->

<!-- Application Detail Modal -->
<div class="modal fade" id="applicationDetailModal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-scrollable">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title text-success">Application Details</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body" id="application-detail-content">
<p class="text-muted">Select an application to view details.</p>
</div>
</div>
</div>
</div>


<!-- subscribeModal -->
<!-- <div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header border-bottom-0">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="text-center mb-4">
        <div class="avatar-md mx-auto mb-4">
            <div class="avatar-title bg-light rounded-circle text-primary h1">
                <i class="mdi mdi-email-open"></i>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-10">
                <h4 class="text-primary">Subscribe !</h4>
                <p class="text-muted font-size-14 mb-4">Subscribe our newletter and get notification to stay update.</p>

                <div class="input-group bg-light rounded">
                    <input type="email" class="form-control bg-transparent border-0" placeholder="Enter Email address" aria-label="Recipient's username" aria-describedby="button-addon2">
                    
                    <button class="btn btn-primary" type="button" id="button-addon2">
                        <i class="bx bxs-paper-plane"></i>
                    </button>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div> -->
<!-- end modal -->
<!-- jQuery (must come first) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
$(document).ready(function () {
// 🔹 Initialize DataTable
let table = $('#datatable').DataTable({
ajax: {
url: "/api/applications/",
dataSrc: "" // change to "results" if API wraps results
},
order: [[6, "desc"]], // column index of "Created On / Date"
columns: [
{ data: "reference_no" },
{ data: "client_name" },
{ data: "client_email" },
{ data: "country_display" },
{ data: "visa_type_display" },
{
    data: "status_display",
    render: function (data, type, row) {
        return `<span class="badge ${row.status_badge}" id="application-status-badge-${row.id}">
                  ${data}
                </span>`;
    }
},
{
    data: "created_at",
    render: function (data, type, row) {
        if (type === "sort" || type === "type") {
            return row.created_at_ts != null ? row.created_at_ts : 0;
        }
        return data ? data : "-";   // ✅ fallback to '-' if null/empty
    }
},
{
    data: "id",
    render: function (id, type, row) {
        return `<button type="button"
                  class="btn btn-primary btn-sm btn-rounded view-details-btn"
                  data-id="${id}"
                  data-bs-toggle="modal"
                  data-bs-target="#applicationDetailModal">
                  View Details
                </button>`;
    }
}
],
pageLength: 10,
responsive: true,
ordering: true
});

// 🔹 Handle "View Details" button click
$('#datatable tbody').on('click', '.view-details-btn', function () {
let appId = $(this).data('id');
let modalBody = document.querySelector("#applicationDetailModal #application-detail-content");

modalBody.innerHTML = "<p class='text-muted'>Loading...</p>";

// 🔓 Dashboard widget is read-only (no stage-transition actions in
// this modal), so it uses the ungated dashboard-detail endpoint and
// is never blocked by the Admin-validation gate.
fetch(`/api/applications/${appId}/dashboard-detail/`)
.then(res => res.json())
.then(app => {
    // ✅ Officer row logic with fallback
    let officerRow = "";
    if (app.created_by_officer_name) {
        officerRow = `
            <tr>
                <th>Initiating Officer</th>
                <td>${app.created_by_officer_name ?? '-'}</td>
            </tr>
        `;
    } else if (app.assigned_officer_name) {
        officerRow = `
            <tr>
                <th>Assigned Officer</th>
                <td>${app.assigned_officer_name ?? '-'}</td>
            </tr>
        `;
    } else {
        officerRow = `
            <tr>
                <th>Officer</th>
                <td>-</td>
            </tr>
        `;
    }
    // ✅ Only include Refusal Letter row if present
    // let refusalLetterRow = "";
    // if (app.refusal_letter) {
    //     refusalLetterRow = `
    //         <tr>
    //             <th>Refusal Letter</th>
    //             <td><a href="${app.refusal_letter}" target="_blank">View Letter</a></td>
    //         </tr>
    //     `;
    // }
let detailsHtml = `
<h5 class="text-info">Application Info</h5>
<table class="table table-bordered">
<tr><th>Reference</th><td>${app.reference_no}</td></tr>
<tr><th>Client</th><td>${app.client_name}</td></tr>
<tr><th>Email</th><td>${app.client_email}</td></tr>
<tr><th>Passport No</th><td>${app.passport_number}</td></tr>
<tr><th>Country</th><td>${app.country_display}</td></tr>
<tr><th>Visa Type</th><td>${app.visa_type_display}</td></tr>
<tr><th>Status</th>
<td><span id="application-status-badge" class="badge ${app.status_badge}">
${app.status_display}
</span></td>
</tr>
${officerRow}
<tr><th>Created On</th><td>${app.created_at ?? '-'}</td></tr>
<tr>
<th>Visa Application URL</th>
<td id="visa-url-cell">
${app.visa_application_url 
? `<a href="${app.visa_application_url}" target="_blank">${app.visa_application_url}</a>
   <a href="${app.visa_application_url}" target="_blank" class="btn btn-sm btn-soft-success ms-2">Go To URL</a>` 
: '<em>No URL added yet</em>'
}
</td>
</tr>
<tr><th>Submission Date</th><td id="submission-date-cell">${app.submission_date ?? '-'}</td></tr>
<tr><th>Decision Date</th><td>${app.decision_date ?? '-'}</td></tr>

<tr>
<th>Refusal Letter(s)</th>
<td id="refusal-letter-cell">
${
Array.isArray(app.refusal_letter) && app.refusal_letter.length
? app.refusal_letter
.map((r, i) =>
  r?.file
    ? `
      <div class="mb-1">
        <span class="badge bg-danger me-2">
          Letter ${i + 1}
        </span>
        <a href="${r.file}"
           target="_blank"
           rel="noopener noreferrer">
          View Refusal Letter
        </a>
      </div>
    `
    : ""
)
.join("") || "-"
: "-"
}
</td>
</tr>
</table>
`;

modalBody.innerHTML = detailsHtml;

// 🔹 Add Mark Finalized button (but will be locked later)
// if (app.status !== "SUBMITTED") {
// detailsHtml += `
// <div class="mt-3 text-end">
// <button class="btn btn-success" id="mark-finalized-btn" data-id="${app.id}">
// Mark Finalized
// </button>
// </div>
// `;
// } else {
// detailsHtml += `
// <div class="mt-3 text-end">
// <button class="btn btn-secondary" disabled>
// ✅ Already Finalized
// </button>
// </div>
// `;
// }

              // 🔹 Documents section
              // let docsHtml = `
              //   <h5 class="mt-4 text-info">Documents</h5>
              //   <table class="table table-striped">
              //     <thead>
              //       <tr>
              //         <th>Requirement</th>
              //         <th>Status</th>
              //         <th>File</th>
              //         <th>Comments</th>
              //         <th>Uploaded</th>
              //         <th>Action</th>
              //       </tr>
              //     </thead>
              //     <tbody>
              // `;





              // if (app.documents.length === 0) {
              //     docsHtml += `<tr><td colspan="6" class="text-center text-muted">No documents uploaded yet.</td></tr>`;
              // } else {
              //     app.documents.forEach(doc => {
              //         docsHtml += `
              //           <tr>
              //             <td>${doc.requirement_name}</td>
              //             <td><span class="badge ${doc.status_badge}">${doc.status_display}</span></td>
              //             <td>${doc.file ? `<a href="${doc.file}" target="_blank">View</a>` : '-'}</td>
              //             <td>
              //               <input type="text" class="form-control form-control-sm review-comment-input"
              //                      data-doc-id="${doc.id}"
              //                      value="${doc.review_comments ?? ''}"
              //                      placeholder="Add comment">
              //             </td>
              //             <td>${doc.uploaded_at ? new Date(doc.uploaded_at).toLocaleString() : '-'}</td>
              //             <td>
              //               <button class="btn btn-sm btn-success review-btn" data-id="${doc.id}">Mark Reviewed</button>
              //             </td>
              //           </tr>
              //         `;
              //     });
              // }

              // docsHtml += "</tbody></table>";




let docsHtml = `<h5 class="mt-4 text-info">Documents</h5>`;

// ===============================
// 🎓 STUDENT VISA → STAGED VIEW
// ===============================
if (app.visa_type === "STUDENT") {

  const stages = ["ADMISSION", "VISA"];
  const stageLabels = {
    ADMISSION: "Admission",
    VISA: "Visa Application"
  };

  // Group documents by stage
  let grouped = {};
  stages.forEach(s => grouped[s] = []);

  app.documents.forEach(doc => {
    if (grouped[doc.stage]) {
      grouped[doc.stage].push(doc);
    }
  });

  // Tabs header
  docsHtml += `
    <ul class="nav nav-tabs mt-3" role="tablist">
      ${stages.map((stage, i) => `
        <li class="nav-item">
          <button class="nav-link ${i === 0 ? "active" : ""}"
                  data-bs-toggle="tab"
                  data-bs-target="#stage-${stage}">
            ${stageLabels[stage]}
          </button>
        </li>
      `).join("")}
    </ul>
  `;

  // Tabs content
  docsHtml += `<div class="tab-content border border-top-0 p-3">`;

  stages.forEach((stage, i) => {
    docsHtml += `
      <div class="tab-pane fade ${i === 0 ? "show active" : ""}"
           id="stage-${stage}">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Requirement</th>
              <th>Status</th>
              <th>File</th>
              <th>Comments</th>
              <th>Uploaded</th>
            </tr>
          </thead>
          <tbody>
    `;

    if (grouped[stage].length === 0) {
      docsHtml += `
        <tr>
          <td colspan="5" class="text-center text-muted">
            No documents for this stage.
          </td>
        </tr>
      `;
    } else {
      grouped[stage].forEach(doc => {
        docsHtml += `
          <tr>
            <td>${doc.requirement_name}</td>
            <td><span class="badge ${doc.status_badge}">
              ${doc.status_display}
            </span></td>
            <td>${doc.file ? `<a href="${doc.file}" target="_blank">View</a>` : "-"}</td>
            <td>${doc.review_comments ?? "-"}</td>
            <td>${doc.uploaded_at ? new Date(doc.uploaded_at).toLocaleString() : "-"}</td>
          </tr>
        `;
      });
    }

    docsHtml += `</tbody></table></div>`;
  });

  docsHtml += `</div>`; // end tab-content
}


// ===============================
// 🧳 NON-STUDENT VISA → FLAT VIEW
// ===============================
else {

  docsHtml += `
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Requirement</th>
          <th>Status</th>
          <th>File</th>
          <th>Comments</th>
          <th>Uploaded</th>
        </tr>
      </thead>
      <tbody>
  `;

  if (app.documents.length === 0) {
    docsHtml += `
      <tr>
        <td colspan="5" class="text-center text-muted">
          No documents uploaded yet.
        </td>
      </tr>
    `;
  } else {
    app.documents.forEach(doc => {
      docsHtml += `
        <tr>
          <td>${doc.requirement_name}</td>
          <td><span class="badge ${doc.status_badge}">
            ${doc.status_display}
          </span></td>
          <td>${doc.file ? `<a href="${doc.file}" target="_blank">View</a>` : "-"}</td>
          <td>${doc.review_comments ?? "-"}</td>
          <td>${doc.uploaded_at ? new Date(doc.uploaded_at).toLocaleString() : "-"}</td>
        </tr>
      `;
    });
  }

  docsHtml += `</tbody></table>`;



}
// === Refusal Letters table ===
// let refusalsHtml = `
// <h5 class="mt-4 text-danger">Previous Refusal Letters</h5>
// <table class="table table-striped">
// <thead>
// <tr>
// <th>File</th>
// <th>Uploaded</th>
// </tr>
// </thead>
// <tbody>
// `;

// if (!app.refusal_letters || app.refusal_letters.length === 0) {
// refusalsHtml += `<tr><td colspan="2" class="text-center text-muted">No refusal letters uploaded.</td></tr>`;
// } else {
// app.refusal_letters.forEach(ref => {
// refusalsHtml += `
// <tr>
// <td><a href="${ref.file}" target="_blank">View Refusal Letter</a></td>
// <td>${ref.uploaded_at ? new Date(ref.uploaded_at).toLocaleString() : '-'}</td>
// </tr>
// `;
// });
// }
// refusalsHtml += "</tbody></table>";

// modalBody.innerHTML = detailsHtml + docsHtml + refusalsHtml;
modalBody.innerHTML = detailsHtml + docsHtml;


// 🔒 Lock modal after rendering
const modal = document.querySelector("#applicationDetailModal");

// Disable all inputs
modal.querySelectorAll("input, textarea, select").forEach(el => {
el.setAttribute("readonly", true);
el.setAttribute("disabled", true);
});

// Disable all buttons except modal close
// Disable all buttons EXCEPT:
// - modal close button
// - bootstrap nav tabs
modal.querySelectorAll("button").forEach(btn => {

  // Allow modal close
  if (btn.classList.contains("btn-close")) return;

  // Allow stage tabs
  if (btn.classList.contains("nav-link") && btn.closest(".nav-tabs")) return;

  // Everything else is disabled
  btn.setAttribute("disabled", true);
  btn.classList.add("disabled");
});


// Disable all links except "Go To URL"
modal.querySelectorAll("a").forEach(link => {

  // Allow "Go To URL"
  if (link.classList.contains("btn-soft-success")) return;

  link.setAttribute("tabindex", "-1");
  link.classList.add("disabled");
  link.addEventListener("click", e => e.preventDefault());
});
});
});
});
</script>

<script>
$(document).ready(function () {
    var dashboardMetrics = null;
    var visaApplicationsChart = null;
    var monthlyRadialChart = null;
    var currentRange = "year";

    function renderMonthlyOutput(mo) {
        $("#monthly-output-count").text(mo.this_month);
        var trendEl = $("#monthly-output-trend");
        if (mo.trend === "up") {
            trendEl.attr("class", "text-success me-2")
                   .html(mo.percent_change + '% <i class="mdi mdi-arrow-up"></i>');
        } else if (mo.trend === "down") {
            trendEl.attr("class", "text-danger me-2")
                   .html(mo.percent_change + '% <i class="mdi mdi-arrow-down"></i>');
        } else {
            trendEl.attr("class", "text-muted me-2").text("No change");
        }

        var radialColors = getChartColorsArray("officer-monthly-radial-chart");
        var options = {
            chart: { height: 200, type: "radialBar", offsetY: -10 },
            plotOptions: {
                radialBar: {
                    startAngle: -135,
                    endAngle: 135,
                    dataLabels: {
                        name: { fontSize: "13px", offsetY: 60 },
                        value: { offsetY: 22, fontSize: "16px", formatter: function (v) { return v + "%"; } }
                    }
                }
            },
            colors: radialColors || ["#556ee6"],
            fill: {
                type: "gradient",
                gradient: { shade: "dark", shadeIntensity: 0.15, inverseColors: false, opacityFrom: 1, opacityTo: 1, stops: [0, 50, 65, 91] }
            },
            stroke: { dashArray: 4 },
            series: [mo.radial_percent],
            labels: ["This month"]
        };
        if (monthlyRadialChart) { monthlyRadialChart.destroy(); }
        monthlyRadialChart = new ApexCharts(document.querySelector("#officer-monthly-radial-chart"), options);
        monthlyRadialChart.render();
    }

    function renderVisaApplicationsChart(range) {
        if (!dashboardMetrics) { return; }
        var dataset = dashboardMetrics.visa_applications[range];
        var colors = getChartColorsArray("officer-visa-applications-chart");
        var options = {
            chart: { height: 360, type: "bar", stacked: true, toolbar: { show: false }, zoom: { enabled: true } },
            plotOptions: { bar: { horizontal: false, columnWidth: "45%", endingShape: "rounded", borderRadius: 4 } },
            dataLabels: { enabled: false },
            series: dataset.series,
            xaxis: { categories: dataset.categories },
            colors: colors || ["#556ee6", "#f1b44c", "#34c38f"],
            legend: { position: "bottom" },
            fill: { opacity: 1 }
        };
        if (visaApplicationsChart) { visaApplicationsChart.destroy(); }
        visaApplicationsChart = new ApexCharts(document.querySelector("#officer-visa-applications-chart"), options);
        visaApplicationsChart.render();
    }

    function renderActivity(activity) {
        var list = $("#activity-list");
        list.empty();
        if (!activity.length) {
            list.append('<li class="text-muted">No recent activity yet.</li>');
            return;
        }
        activity.forEach(function (item, idx) {
            var dotIcon = idx === 0 ? "bx bxs-right-arrow-circle bx-fade-right" : "bx bx-right-arrow-circle";
            var liClass = idx === 0 ? "event-list active" : "event-list";
            list.append(
                '<li class="' + liClass + '">' +
                    '<div class="event-timeline-dot"><i class="' + dotIcon + ' font-size-18"></i></div>' +
                    '<div class="d-flex">' +
                        '<div class="flex-shrink-0 me-3">' +
                            '<h5 class="font-size-14">' + item.date + ' <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i></h5>' +
                        '</div>' +
                        '<div class="flex-grow-1"><div>' + item.description + '</div></div>' +
                    '</div>' +
                '</li>'
            );
        });
    }

    function renderTrending(locations) {
        if (!locations.length) {
            $("#trending-top-count").text("0");
            $("#trending-top-country").text("No applications yet");
            $("#trending-locations-body").html('<tr><td class="text-muted">No applications yet.</td></tr>');
            return;
        }
        var top = locations[0];
        $("#trending-top-count").text(top.count.toLocaleString());
        $("#trending-top-country").text(top.country);

        var barColors = ["bg-primary", "bg-success", "bg-warning"];
        var body = $("#trending-locations-body");
        body.empty();
        locations.forEach(function (loc, idx) {
            body.append(
                '<tr>' +
                    '<td style="width: 30%"><p class="mb-0">' + loc.country + '</p></td>' +
                    '<td style="width: 25%"><h5 class="mb-0">' + loc.count.toLocaleString() + '</h5></td>' +
                    '<td>' +
                        '<div class="progress bg-transparent progress-sm">' +
                            '<div class="progress-bar ' + (barColors[idx] || "bg-info") + ' rounded" role="progressbar" ' +
                                 'style="width: ' + loc.percent + '%" aria-valuenow="' + loc.percent + '" aria-valuemin="0" aria-valuemax="100"></div>' +
                        '</div>' +
                    '</td>' +
                '</tr>'
            );
        });
    }

    fetch("{% url 'Applications:case-officer-dashboard-metrics' %}")
        .then(function (res) { return res.json(); })
        .then(function (data) {
            dashboardMetrics = data;
            renderMonthlyOutput(data.monthly_output);
            renderVisaApplicationsChart(currentRange);
            renderActivity(data.activity);
            renderTrending(data.trending_locations);
        })
        .catch(function () {
            $("#monthly-output-count").text("-");
            $("#activity-list").html('<li class="text-danger">Could not load activity.</li>');
            $("#trending-locations-body").html('<tr><td class="text-danger">Could not load trending locations.</td></tr>');
        });

    $("#visa-applications-range-pills").on("click", "a.nav-link", function (e) {
        e.preventDefault();
        $("#visa-applications-range-pills a.nav-link").removeClass("active");
        $(this).addClass("active");
        currentRange = $(this).data("range");
        renderVisaApplicationsChart(currentRange);
    });
});
</script>

{% endblock %}
